<ion-view title="All Meditations" right-buttons="rightButtons">
    <ion-content has-header="true" has-tabs="true" padding="true" >
    <rzslider
        rz-slider-floor="priceSlider.floor"
        rz-slider-ceil="priceSlider.ceil"
        rz-slider-model="priceSlider.min"
        rz-slider-high="priceSlider.max">
    </rzslider>
        

        <div ng-repeat="meditation in meditations">

          <div class="card">
            <div class="item item-text-wrap">
              <h2>{{meditation.title}} </h2>
              <em>{{meditation.time}}</em> <br>
                <audio controls data-ng-src="{{meditation.recording}}" ></audio>
              <button ng-click="saveMeditation(meditation)"></button>  
            </div>

          </div>

        </div>
    </ion-content>
</ion-view>
