<ion-view title="All Meditations" right-buttons="rightButtons">
    <ion-content has-header="true" has-tabs="true" padding="true">
        Welcome, {{user.attributes.email}}

        <div ng-repeat="meditation in meditations">

          <div class="card">
            <div class="item item-text-wrap">
              {{meditation.title}}, 
              <em>{{meditation.time}}</em> <br>
                <audio controls data-ng-src="{{meditation.recording}}" ></audio>
              <button ng-click="saveMeditation(meditation)"></button>  
            </div>

          </div>

        </div>


    </ion-content>
</ion-view>
