<ion-view title="What is Yoga Nidra?" right-buttons="rightButtons">
    <ion-content has-header="true" has-tabs="true" padding="true" >
      
    <div class="list">
    <h4>Yoga nidra, also known as yogic sleep, is a powerful guided meditation technique that can be practiced by anyone, at any time. Yoga Nidra focus on cultivating multiple levels of well-being. </h4>
    <br>
      <div class="item item-divider">
      </div>
      <h5>Yoga Nidra is...</h5>
      <ul> 
      	<li>A guided mediation systematically takes you through the panacha maya kosha (five layers of self) to leave you with a deep sense of wholeness.</li> <br>
      	<li>Promotes deep relaxation that isnt found in the average meditation practice. The stages of body scan and breath awareness calm the nervous system, leading to less stress and better health.</li> <br>
      	<li>Offers a space to explore what you need in the moment, as well as release long-held emotions. </li> <br>
      </ul>

      <div class="item item-divider">
        
      </div>
      <h5>How to practice</h5>
      <ul> 
      	<li>Lay down in a comfortable position, preferably on your back. Be sure to cushion your backside. If you are not able to lay down, you can practice in a seated position. </li> <br>
      	<li>Follow the voice that is guiding you. If you lose the voice, no worries, just start listning again once you realize you've drifted off. Falling asleep is also ok; you will still receive benefits while the unconscious mind is absorbing the practice.</li> <br>
      </ul>
      <div class="item item-divider">
      </div>
      <h5>Tips for a sustained, regular practice</h5>
      <ul> 
      	<li>Meditation is most beneficial when practiced daily, no matter the length. For example, is better for your brain to meditate 5 minutes everyday, instead of 20 minutes 2 times a week.</li> <br>
      	<li>A yoga nidra practice can be as short as five minutes and as long as an hour.  Chose the length that fits your schedule and needs.</li> <br>
      </ul>
    </div>

     
    </ion-content>
</ion-view>