<ion-view title="...">
    <ion-content has-header="true" has-tabs="true" padding="true">
    	<br><br>
    	<center><h3>Welcome to Nidra Now, where you can find and listen to Yoga Nidra.</h3></center>
    	<div class="row">
    		
		  <div class="col">
		  	<button class="button button-block button-calm boxlike" ng-click="login()">
		  	    LOG IN
		  	</button>
		  </div>	
		  <div class="col">
		  	<button class="button button-block button-calm boxlike" ng-click="signUp()">
		  	    SIGN UP
		  	</button>
		  </div>

		</div>
		<center><button ng-click="skip()">Skip this step for now</button></center>


    	
        
        

        
    </ion-content>
</ion-view>
