/* Your app's CSS, go crazy, make it your own */
#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
  text-align: center;
}
#list ul {
  margin-top: 30px;
}
#list ul li {
  text-align: left;
  list-style: disc;
  margin: 10px 0px;
}

.cardpad {
  margin: 20px;
  margin-top: 30px;
}

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

em {
    font-style: italic;
}
.welcometitle {
  text-align: center;
}

.boxlike {
  border-radius: 4px;
  box-shadow: 1px 2px 10px #888888;
  background-color: rgba(255, 255, 255, 0.6);
}
 .audio {
    text-align: center;
    width: 265px;
    margin: 5px;
  }

.styleStar {
  float: right;
  margin-top: -30px;
}

body {
  font-family: 'Mako', sans-serif;
}

.gfont {
 font-family: 'Mako', sans-serif; 
}

.welcomeimg{
 background: url(http://il4.picdn.net/shutterstock/videos/2499983/thumb/1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}